body {
	background-color: burlywood;
}

#container {
	Background-color: white;
	width: 1250px;
	margin-left: auto;
	margin-right: auto;
}

#header {
	background-color: #fff000;
	text-align: center;
}

#navi {
	background-color: rgb(59, 255, 108);
	width: 190px;
	height: 410px;
	float: left;
}

#navi .selected {
	font-weight: bold;
	color: yellow;
}

#first {
	background-color: coral;
	width: 300px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

#sub-plz {
	background-color: red;
	width: 500px;
	color: white;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

#upper-content {
	text-align: center;
}

#aboutpage {
	text-align: left;
}

#about {
	padding: 20px;
}

#footer {
	background-color: gray;
	color: white;
	text-align: center;
}