* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(15, 0, 71);
}

#header {
	background-color: #fff000;
  text-align: center;
  background-size: cover;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 20px 10%;
}

.head {
  float: left;
  margin-left: none;
  margin-right: auto;
}

.alert {
	padding: 30px;
	background-color: rgb(199, 48, 48);
	text-align: center;
	height: 30px;
	text-shadow: black;
  font-size: x-large;
  color: white;
  margin-bottom: 10px;
  line-height: 1px;
}

.closebtn {
    margin-left: 20px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 42px;
    line-height: 1px;
    cursor: pointer;
    transition: 0.5s;
}

.closebtn:hover {
	color: yellow;
}

#navi .selected {
	font-weight: bolder;
	color: rgb(255, 166, 0);
}

#upper-content {
  text-align: center;
  padding-top: 30px;
  color: white;
  padding-bottom: 30px;
}

#aboutpage {
	text-align: left;
  list-style: none;
  padding-top: 30px;
  color: white;
  padding-bottom: 30px;
  padding-left: 50px;
  font-size: 25px;
  font-weight: bold;
}

#about {
  margin-top: 20px;
}

.about {
  margin-left: none;
  list-style: none;
}

.pages {
  padding-bottom: 20px;
  padding-top: 20px;
}

#footer {
	background-color: gray;
	color: white;
	text-align: center;
  text-decoration: none;
  padding-bottom: 20px;
  padding-top: 20px;
}

.btn {
  color: white;
  border: solid 2px white;
  background: none;
  font-size: 20px;
  cursor: pointer;
  padding: 10px 20px;
  transition: 0.5s;
  overflow: hidden;
}

.more {
  padding-left: 30px;
  list-style: none;
  color: white;
}

.btn1:hover {
  background-color: rgb(231, 129, 192);
}

.btn2:hover {
  background-color: #1382cc;
}

.btn3:hover {
  background-color: #ff0000;
}

.button {
  padding-top: 10px;
  padding-left: 20px;
  display: flex;
  padding: 10px;
  font-weight: bold;
  padding: 0px 20px;
}

.button li {
  padding: 0px 20px;
}

.logo {
    margin-right: auto;
    color: whitesmoke;
  }
  
  .nav__links {
    list-style: none;
    display: flex;
  }
  
  .nav__links a {
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    color: #ff0000;
    text-decoration: none;
  }
  
  .nav__links li {
    padding: 0px 20px;
  }
  
  .nav__links li a {
    transition: all 0.3s ease 0s;
  }
  
  .nav__links li a:hover {
    color: #1100ff;
  }

  .abt a {
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    color: #ff0000;
    text-decoration: none;
  }
  
  .abt li {
    padding: 0px 20px;
  }
  
  .abt li a {
    transition: all 0.3s ease 0s;
  }
  
  .abt li a:hover {
    color: #1100ff;
  }

  /* Mobile Nav */
  
  .menu {
    display: none;
  }
  
  .overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: #24252a;
    overflow-x: hidden;
    transition: all 0.5s ease 0s;
  }
  
  .overlay--active {
    width: 100%;
  }
  
  .overlay__content {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .overlay a {
    padding: 15px;
    font-size: 36px;
    display: block;
    transition: all 0.3s ease 0s;
  }
  
  .overlay a:hover,
  .overlay a:focus {
    color: purple;
  }
  .overlay .close {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
    color: #15ff00;
    cursor: pointer;
  }